language: node_js
node_js:
- node
- dubnium
branches:
  only:
  - master
script:
  - cd functions
  - npm install
  - npm run lint
  # - npm run test
  - cd ..
  - firebase use --add ${FIREBASE_PROJECT}
deploy:
  provider: firebase
  token:
    secure: ${TRAVIS_FIREBASE_TOKEN}
