#contact-form {
    margin: 1em;
    display: flex;
    padding: .5em;
    max-width: 320px;
    border-radius: 3px;
    flex-direction: column;
    border: 1px rgb(220, 220, 220) solid;
    background-color: rgb(240, 240, 240);
    box-shadow: 5px 2px 10px rgba(0, 0, 0, .07);
}

#contact-form > label {
    display: flex;
    flex-direction: column;
}

#contact-form > label:not(:first-child) {
    margin-top: .75em;
}

#contact-form > label > textarea {
    resize: vertical;
    min-height: 120px;
}
